#banner {
    background: linear-gradient(rgba(22,17,44,0.2), rgba(22,17,44,0.6)),url(./vaporwaveshit.jpg) no-repeat fixed center top !important;
    background-size: cover !important;
}

#banner .hero-body {
    text-shadow: 0 0 0.5em black;
}